:root {
  --primary-color: rgb(225,112,85, 0.9);
  --secondary-color:		rgb(90,110,114,0.85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.8;

}

main {
  padding-bottom: 50px;
  background-color: var(--primary-color);
}

small {
  font-size: 0.9rem;
}

#landing {
  background: var(--primary-color);
  color: var(--secondary-color);
  height: 100vh;
  position: relative;
}


#landing .landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:  center;

  height: 100%;
}

#landing h1 {
  font-size: 3rem;
}

#landing p {
  font-size: 2 rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #81ecec;
  color: var(--secondary-color);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: all 1s ease-in-out; 
  text-decoration: none;
}

.btn:hover {
  opacity: 0.5;
}

.jumbotron {
  background-color: var(--primary-color);
}

.containerMeme {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  grid-auto-rows: 400px;
  grid-gap: 20px;
}

.combined-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.combined-container .img-container {
  width: 100%;
  height: 100%;
  /*overflow: hidden */
}

.combined-container .img-container img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;  /*center image*/
  cursor: pointer;
}

.combined-container .top {
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 2rem;
  z-index: 5;
  color: blue;
}

.combined-container .bot {
  opacity: 1;
  position: absolute;
  bottom: 20%;
  left: 10%;
  font-size: 2rem;
  z-index: 5;
  color: blue;
}

.sample {
  font-size: 1.2rem;
}

img {
  opacity: 0.9;
}

.hidden {
  display: none;
}

.delete {
  margin: 0 175px;
}

